@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');


.cost{
    font-family: 'Work Sans', sans-serif !important; 
}

.container {
    margin: 20px auto;
    background-color: white;
    padding: 0;
}

label {
    margin: 8px 0;
    font-weight: 900;
}

p {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.btn.btn-primary {
    width: 100%;
    height: 55px;
    border-radius: 0;
    padding: 13px 0;
    background-color: black;
    border: none;
    font-weight: 600;
}

.btn.btn-primary:hover .fas {
    transform: translateX(10px);
    transition: transform 0.5s ease
}

.accordion-button:not(.collapsed) {
    color: #333;
    background-color: #eee;
}
.accordion-button{
    font-weight: 600;
}
img.icon {margin: 0 8px;height: 20px;width: auto;filter: grayscale(1);}

span.caution {color: #f04225;display: block;}

button.btn.btn-primary.charcoal {
    text-align: left;
    padding: 12px;
    display: inline;
    width: auto;
    background: #222;
}
label.form-check-label {
    margin: 0;
}
h5{
    margin: 8px 0;
    font-weight: 900;
}
small {
    color: #777;
    font-size: .75em;
}
a.navbar-brand img {
    height: 32px;
}

img.checkout-img {
    max-height: 80px;
    width: auto;
}

h5.order {
    margin-bottom: 24px;
}

.item {
    margin-bottom: 18px;
}

.col-6.checkout-item-title {
    color: #555;
}
.grand-total .cost {
    font-size: 20px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f8f9fa;
    padding: 8px;
    text-align: center;
}
.topic{
    font-weight: 900;
}

.alert.alert-danger {
    background: #fff;
    border-color: #fff;
    border-left-color: #f00;
    border-radius: 0;
    border-width: 3px;
    background: #f8f9fa;
    font-weight: 500;
    display: none;
}

.alert.show{
    display: block;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/checkmark.png");
    transform: initial !important;
}

.accordion-button::after {
    background-image: none;
}